<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/public/main.css">
  
    <%- isContentRendered ? headCustomContent : include(headCustomContent) %> 
    <% if (!isContentRendered) { %>
      <title><%= title %></title>
      <meta name = "description" content = "<%= description %>">
    <% } %>

    <script src="/public/js/utils/Subject.js"></script>
    <script src="/public/js/views/View.js"></script>
    <script defer src="/public/js/components/counter/Counter.js"></script>
    <script defer src="/public/js/app.js"></script>
  </head>

  <body>
    <%- include('./components/navbar/navbar.ejs') %> 
    <%- isContentRendered ? content : include(content) %> 
  </body>

</html>